<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">FINANCE TOOL</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown" >
          <a [routerLink]="['/']" routerLinkActive="active" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HOW IT WORKS <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">4 EASY STEPS</a></li>
            <li><a href="#">WHY US?</a></li>
          </ul>
        </li>
        <li><a [routerLink]="['/about']" routerLinkActive="active">ABOUT US</a></li>
        <li><a [routerLink]="['/resource']" routerLinkActive="active">RESOURCE CENTER</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="loginbtn" [routerLink]="['/login']" routerLinkActive="active">LOG IN</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/start']" routerLinkActive="active">GET STARTED</a></li>
      </ul>
    </div>
  </div>
</nav>