:host {
  display: block;
  height: 83px;
  padding: 0 16px;
}

nav a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: #106cc8;
}

nav li a {
    border: none;
}

.navbar-nav>.active>a {
    text-decoration: underline;
}

li {
    margin-top: 0px !important;
}

nav a:hover {
    text-decoration: underline;
}

.rain-logo {
    color: #5f9ea0;
}

