h4 {
    text-shadow: none !important;
}

.panel-content {
    padding: 30px;
}

i:hover {
    cursor:pointer;
}

#networthPanel {
    padding: 30px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

#calculateDiv {
    padding:20px;
}