<div class="row panel-content">
    <div class="row">
        <div *ngIf="question === 1" class="col-sm-12">
            <h4>Just a few questions to find out your networth...</h4>
            <p>This will take about 30 minutes.</p>
        </div>
        <div *ngIf="question === 2" class="col-sm-12">
            <h4 class="full-line">Total amount in all checking accounts:</h4>
            <input type="number" [(ngModel)]="networth.checking">
        </div>
        <div *ngIf="question === 3" class="col-sm-12">
            <h4 class="full-line">Total amount in all savings accounts:</h4>
            <input type="number" [(ngModel)]="networth.savings">
        </div>
        <div *ngIf="question === 4" class="col-sm-12">
            <h4 class="full-line">Do you own a home?</h4>
            <input type="radio" name="home" [(ngModel)]="networth.ownHome" value="true"> Yes
            <input type="radio" name="home" [(ngModel)]="networth.ownHome" value="false"> No
            <div *ngIf="networth.ownHome">
                <label class="full-line">Value of home:</label>
                <input type="number" [(ngModel)]="networth.homeValue">
            </div>
        </div>
        <div *ngIf="question === 5" class="col-sm-12">
            <h4 class="full-line">Do you own a car?</h4>
            <input type="radio" name="car" [(ngModel)]="networth.ownCar" value="true"> Yes
            <input type="radio" name="car" [(ngModel)]="networth.ownCar" value="false"> No
            <div *ngIf="networth.ownCar">
                <label class="full-line">Value of car:</label>
                <input type="number" [(ngModel)]="networth.carValue">
            </div>
        </div>
        <div *ngIf="question === 6" class="col-sm-12">
            <h4 class="full-line">Do you have any retirement accounts?</h4>
            <input type="radio" name="car" [(ngModel)]="networth.haveRetirementAccounts" value="true"> Yes
            <input type="radio" name="car" [(ngModel)]="networth.haveRetirementAccounts" value="false"> No
            <div *ngIf="networth.retirementAccountsValues && networth.retirementAccountsValues.length > 0">
                <div *ngFor="let account of networth.retirmentAccountsValues" class="row">
                    {{account.name}}: {{account.value}}
                </div>
            </div>
            <div *ngIf="networth.haveRetirementAccounts">
                <div class="col-sm-6 float-right">
                    <label class="full-line text-right">Name:</label>
                    <input type="text" class="float-right" [(ngModel)]="asset.name">
                </div>
                <div class="col-sm-6">
                    <label class="full-line text-left">Amount:</label>
                    <input type="number" class="float-left" [(ngModel)]="asset.value">
                </div>
                <div class="col-sm-6">
                <i class="fa fa-2x fa-plus full-line" (click)="addToArray(asset, 'retirement')"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <i class="fa fa-3x fa-arrow-circle-right float-right" aria-hidden="true" (click)="forward()"></i>
        <i *ngIf="question > 1" class="fa fa-3x fa-arrow-circle-left float-left" aria-hidden="true" (click)="back()"></i>
        </div>
        <div class="col-cm-1"></div>
    </div>
</div>
