<div class="row">
    <div class="col-sm-1"></div>
    <div id="whyDiv" class="col-sm-10 text-center">
        <h2 class="home-title">Why Use Raindrop?</h2>
        <br />
        <h4>BECAUSE MONEY IS POWER</h4>
        <br />
        <br />
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                <img src="../../assets/images/image2.jpg" alt="...">
                </div>
                <div class="item">
                <img src="../../assets/images/image1.jpg" alt="...">
                </div>
                <div class="item">
                <img src="../../assets/images/image3.jpg" alt="...">
                </div>
            </div>
            
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            </div> <!-- Carousel -->
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div id="kickstartDiv" class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="col-sm-6">
            <span class="text-center">
                <h1>Kickstart your goals</h1>
                <br />
                <img class="img-circle img-responsive" src="../../assets/images/image5.jpg">
            </span>
            <br />
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <p class="sub-header-text">SIMPLE & STRAIGHTFORWARD</p>
            <hr class="sub-header-hr" />
            <p>Vaporware vexillologist woke, tumeric food truck vape distillery. Hammock cardigan copper mug pour-over. Mlkshk schlitz selvage, swag taxidermy sartorial pickled. Direct trade jianbing bitters chicharrones. Asymmetrical letterpress blue bottle PBR&B, hell of pour-over locavore.</p>
            <br />
            <p class="sub-header-text">ADVICE TAILORED TO YOU</p>
            <hr class="sub-header-hr" />
            <p>Fap green juice mixtape, woke ethical poutine franzen. Drinking vinegar tote bag woke, crucifix asymmetrical helvetica yr umami aesthetic williamsburg hella raw denim kogi bespoke salvia. Cray four dollar toast aesthetic scenester artisan lo-fi, flannel la croix gentrify. Letterpress kinfolk vinyl hot chicken swag.</p>
            <br />
            <p class="sub-header-text">OH, AND IT'S FREE</p>
            <hr class="sub-header-hr" />
            <p>Kickstarter trust fund you probably haven't heard of them vexillologist scenester la croix. Typewriter leggings live-edge, deep v photo booth 90's marfa bushwick.</p>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row" id="stepsDiv">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-left">
        <div class="col-sm-5">
            <h1>5 Easy Steps</h1>
            <br />
            <p class="sub-header-text">1. KNOW YOUR WORTH</p>
            <hr class="sub-header-hr" />
            <p>Vaporware vexillologist woke, tumeric food truck vape distillery. Hammock cardigan copper mug pour-over of pour-over locavore.</p>
            <br />
            <p class="sub-header-text">2. CREATE A BUDGET</p>
            <hr class="sub-header-hr" />
            <p>Fap green juice mixtape, woke ethical poutine franzen. Drinking vinegar tote bag woke, crucifix asymmetrical helvetica yr umami aesthetic williamsburg hella raw denim kogi bespoke salvia. Cray four dollar toast aesthetic scenester artisan lo-fi.</p>
            <br />
            <p class="sub-header-text">3. PAY OFF DEBT</p>
            <hr class="sub-header-hr" />
            <p>Kickstarter trust fund you probably haven't heard of them vexillologist scenester la croix. Typewriter leggings live-edge, deep v photo booth 90's marfa bushwick.</p>
            <br />
            <p class="sub-header-text">4. LEARN TO SAVE</p>
            <hr class="sub-header-hr" />
            <p>Kickstarter trust fund you probably haven't heard of them vexillologist scenester la croix. Typewriter leggings live-edge, deep v photo booth 90's marfa bushwick.</p>
            <br />
            <p class="sub-header-text">5. PUT YOUR MONEY TO WORK</p>
            <hr class="sub-header-hr" />
            <p>Kickstarter trust fund you probably haven't heard of them vexillologist scenester la croix. Typewriter leggings live-edge, deep v photo booth 90's marfa bushwick.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div calass="row">
    <div id="getStartedDiv" class="col-sm-12 text-center">
        <h4 id="getStartedTitle">Take Control of Your Future</h4>
        <br />
        <button class="btn btn-success lets-go" [routerLink]="['/start']">GET STARTED</button>
    </div>
</div>