<div class="row">
    <div id="stepsDiv" class="col-sm-12 text-center">
        <h1>5 Easy Steps</h1>
        <br>
        <h2>1. Know Your Worth</h2>
        <p>Vaporware vexillologist woke, tumeric food truck vape distillery. Asymmetrical letterpress blue bottle PBR&B, hell of pour-over locavore. Cray four dollar toast aesthetic scenester artisan lo-fi, flannel la croix gentrify. Letterpress kinfolk vinyl hot chicken swag. Typewriter leggings live-edge, deep v photo booth 90's marfa bushwick. Bushwick put a bird on it typewriter sartorial. Tofu brunch hella biodiesel.</p>
        <br>
        <h2>2. Create a Budget</h2>
        <p>Vaporware vexillologist woke, tumeric food truck vape distillery. Asymmetrical letterpress blue bottle PBR&B, hell of pour-over locavore. Cray four dollar toast aesthetic scenester artisan lo-fi, flannel la croix gentrify. Letterpress kinfolk vinyl hot chicken swag. Typewriter leggings live-edge, deep v photo booth 90's marfa bushwick. Bushwick put a bird on it typewriter sartorial. Tofu brunch hella biodiesel.</p>
        <br>
        <h2>3. Pay Off Debt</h2>
        <p>Vaporware vexillologist woke, tumeric food truck vape distillery. Asymmetrical letterpress blue bottle PBR&B, hell of pour-over locavore. Cray four dollar toast aesthetic scenester artisan lo-fi, flannel la croix gentrify. Letterpress kinfolk vinyl hot chicken swag. Typewriter leggings live-edge, deep v photo booth 90's marfa bushwick. Bushwick put a bird on it typewriter sartorial. Tofu brunch hella biodiesel.</p>
        <br>
        <h2>4. Learn to Save</h2>
        <p>Vaporware vexillologist woke, tumeric food truck vape distillery. Asymmetrical letterpress blue bottle PBR&B, hell of pour-over locavore. Cray four dollar toast aesthetic scenester artisan lo-fi, flannel la croix gentrify. Letterpress kinfolk vinyl hot chicken swag. Typewriter leggings live-edge, deep v photo booth 90's marfa bushwick. Bushwick put a bird on it typewriter sartorial. Tofu brunch hella biodiesel.</p>
        <br>
        <h2>5. Let your money work for you</h2>
        <p>Vaporware vexillologist woke, tumeric food truck vape distillery. Asymmetrical letterpress blue bottle PBR&B, hell of pour-over locavore. Cray four dollar toast aesthetic scenester artisan lo-fi, flannel la croix gentrify. Letterpress kinfolk vinyl hot chicken swag. Typewriter leggings live-edge, deep v photo booth 90's marfa bushwick. Bushwick put a bird on it typewriter sartorial. Tofu brunch hella biodiesel.</p>
        <br>
        <hr>
        <br>
    </div>
</div>
<div class="row">
    <div id="whyDiv" class="col-sm-12 text-center">
        <h1>Why Use Raindrop?</h1>
        <br>
        <p>Vaporware vexillologist woke, tumeric food truck vape distillery. Asymmetrical letterpress blue bottle PBR&B, hell of pour-over locavore. Cray four dollar toast aesthetic scenester artisan lo-fi, flannel la croix gentrify. Letterpress kinfolk vinyl hot chicken swag. Typewriter leggings live-edge, deep v photo booth 90's marfa bushwick. Bushwick put a bird on it typewriter sartorial. Tofu brunch hella biodiesel.</p>
        <br>
        <p>Food truck scenester selfies kickstarter, raclette knausgaard swag tousled portland YOLO glossier. Organic direct trade gastropub, polaroid unicorn tofu lomo. Meggings chartreuse next level intelligentsia, cray single-origin coffee chillwave tofu man braid blog hexagon authentic iceland raclette lomo. Asymmetrical biodiesel waistcoat 8-bit, VHS helvetica salvia meh cred. Shoreditch intelligentsia next level plaid artisan cronut, lyft literally truffaut. Mlkshk pitchfork poke banjo retro, jianbing pug trust fund locavore. YOLO flexitarian heirloom air plant, bushwick wayfarers whatever hell of 3 wolf moon everyday carry selfies tacos.</p>
        <br>
    </div>
</div>
