<div class="row">
    <div id="step1div" class="col-sm-12 text-center">
        <h1>Step 1</h1>
        <h2>Know Your Worth</h2>
        <p>We all have to have a starting point. Let's figure out where yours is by taking stock of your debts and assets.</p>
        <br>
        <a *ngIf="showStartButton" class="btn btn-lg btn-success lets-go" (click)="start()">START</a>
        <div *ngIf="showNetworthPanel" class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="row panel-padding">
                        <sd-networth [networth]="networth" (onCalculate)="onCalculate($event)"></sd-networth>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div *ngIf="showNetworthTotals">
            <div class="row">
                <div id="step1div" class="col-sm-12 text-center">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 text-left">
                        <h3>Here's where you stand:</h3>
                        <br />
                        <div class="col-sm-12">
                            <h4>Assets</h4>
                            <p class="full-line">{{networth.totalAssets | currency:'USD':true:'1.2-2'}}</p>
                        </div>
                        <div class="col-sm-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" [style.width]="networth.checkingPercent + '%'"></div>
                                <div class="progress-bar progress-bar-success" [style.width]="networth.savingsPercent + '%'"></div>
                                <div class="progress-bar progress-bar-warning" [style.width]="networth.homeValuesPercent + '%'"></div>
                                <div class="progress-bar progress-bar-danger" [style.width]="networth.carValuesPercent + '%'"></div>
                                <div class="progress-bar progress-bar-info" [style.width]="networth.retirementAccountsPercent + '%'"></div>
                                <div class="progress-bar progress-bar-success" [style.width]="networth.otherInvestmentsPercent + '%'"></div>
                                <div class="progress-bar progress-bar-warning" [style.width]="networth.additionalAssetPercent + '%'"></div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="col-sm-12">
                            <h4>Debt</h4>
                            <p class="full-line">{{networth.totalDebt | currency:'USD':true:'1.2-2'}}</p>
                        </div>
                        <div class="col-sm-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" [style.width]="networth.creditCardsPercent + '%'"></div>
                                <div class="progress-bar progress-bar-success" [style.width]="networth.carLoansPercent + '%'"></div>
                                <div class="progress-bar progress-bar-warning" [style.width]="networth.homeLoansPercent + '%'"></div>
                                <div class="progress-bar progress-bar-danger" [style.width]="networth.schoolLoansPercent + '%'"></div>
                                <div class="progress-bar progress-bar-info" [style.width]="networth.additionalDebtPercent + '%'"></div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="col-sm-12">
                            <h4>Your Networth</h4>
                            <p class="full-line">{{networth.networth | currency:'USD':true:'1.2-2'}}</p>
                        </div>
                    </div>
                    <div class='col-sm-1'></div>
                    <br>
                </div>
            </div>
        </div>
        <br>
        <hr>
    </div>
</div>
<!--<div class="row">
    <div id="step1div" class="col-sm-12 text-center">
        <h1>Step 2</h1>
        <h2>Budget Calculator</h2>
        <p>Based off of you yearly salary, let's find out how much you should be spending each month and where.</p>
        <br>
        <a class="btn btn-lg btn-success lets-go">Let's Go!</a>
        <br>
        <hr>
    </div>
</div>-->


